body{
    background-color: aqua;
    color: black;
    display: flex;
    font-size: large;
    text-align: center;
}

table{
    border: solid 1px black;
}

td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
