* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    gap: 0px;
}

body {
    background-color: aqua;
    gap: 0px;
}

.container {
    display: grid;
    grid-template-columns: 6; 
    grid-template-areas:
        "header header header"
        "aside1 main aside2"
        "aside1 main aside2"
        "aside1 main aside2"
        "form form form"
        "footer footer footer";
    gap: 0px;
    width: 100vw;
    text-align: center;
}

header {
    grid-area: header;
    background-color: white;
    text-align: center;
    width: 100vw;
    height: 20vh;
}


.aside1 {
    grid-area: aside1;
    background-color: aquamarine;
    width: 20vw;
    height: 60vh;
}

main {
    grid-area: main;
    background-color: rgb(155, 234, 240);
    color: rgb(20, 19, 19); 
    height: 80vh;
    width: 60vw;
    gap: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1px;
}
form{
    grid-area: form;
    width: 100vw;
    height: 30vh;
}
.aside2 {
    grid-area: aside2;
    background-color: aquamarine;
    width: 20vw;
    height: 60vh;
}

footer {
    grid-area: footer;
    height: 20vh;
    width: 100vw;
    background-color: white;
    text-align: center;
}
table{
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    text-align: center;
}
tr{
    border: 2px solid black;
    width: 10vw;
    height: 10vh;
}
th{
    height: 2vh;
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
